@tailwind base;

@layer base {
  html {
    @apply text-[18px];
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  pre {
    @apply p-4;
  }

  code {
    @apply text-sm;
  }

  button,
  a {
    @apply underline decoration-2 hover:text-light-accent dark:hover:text-dark-accent hover:underline hover:decoration-light-accent dark:hover:decoration-dark-accent;
  }

  a:not(.iconAnchor) {
    @apply inline-block relative px-0 py-[1px] bg-transparent;
    transition: color ease 0.3s;
  }

  a:not(.iconAnchor)::after {
    @apply absolute bottom-0 h-0 -left-[1.5px] -right-[1.5px] bg-light-accent dark:bg-dark-accent -z-10;
    content: "";
    transition: all ease 0.3s;
  }

  a:not(.iconAnchor):hover {
    @apply text-light-primary dark:text-dark-primary;
  }

  a:not(.iconAnchor):hover::after {
    @apply h-full;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("sans"), url("/fonts/inter-v12-latin-regular.woff2") format("woff2");
    font-display: swap;
  }

  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: local("sans"), url("/fonts/inter-v12-latin-600.woff2") format("woff2");
    font-display: swap;
  }
}

@tailwind components;
@tailwind utilities;
