---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" description="About me page">
  <p>
    I'm Julian. I'm a software engineer and I love to write about web
    development.
  </p>
</BaseLayout>
