---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

let title = "Blog posts";
let description = "The perfect starter for your perfect blog.";
let permalink = "https://example.com/";

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob("./posts/*.mdx");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <section aria-label="Blog post list">
    {allPosts.map((p, index) => {
      return (
        <div>
          {index + 1 === allPosts.length && <hr />}
          <BlogPostPreview post={p} />
        </div>
      )
    })}
  </section>
</BaseLayout>
