---
import { getCollection } from "astro:content";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "Blog posts";
let description = "The perfect starter for your perfect blog."; // TODO schaefer - can this be deleted?

const allPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});
allPosts.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout title={title} description={description}>
  <section aria-label="Blog post list">
    {
      allPosts.map((p) => {
        return <BlogPostPreview post={p} />;
      })
    }
  </section>
</BaseLayout>

<style>
  section {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
</style>
