---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

let title = "Blog posts";
let description = "The perfect starter for your perfect blog.";

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.glob("./posts/*.mdx");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<BaseLayout title={title} description={description}>
  <section aria-label="Blog post list" class="grid gap-4 mt-4">
    {
      allPosts.map((p) => {
        return <BlogPostPreview post={p} />;
      })
    }
  </section>
</BaseLayout>

<style>
  section {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
</style>
