---
import DarkModeToggle from "../components/DarkModeToggle.vue";
---

<header>
  <nav class="flex justify-between list-none">
    <li>
      <h1>
        <a href="/">
          <span>Theiaz Blog</span>
        </a>
      </h1>
    </li>
    <li><DarkModeToggle client:load /></li>
  </nav>
</header>
