---
import { Picture } from "astro:assets";

export interface Props {
  src: string;
  alt: string;
  isExternalSrc?: boolean;
}

const { src, alt, isExternalSrc } = Astro.props;
---

<div class="relative">
  <Picture
    src={src}
    widths={[400, 800]}
    sizes="(max-width: 800px) 100vw, 800px"
    alt={alt}
  />
  {
    isExternalSrc && (
      <div class="text-xs p-1 absolute bottom-0 top-0 z-10 backdrop-blur-sm">
        <a href={src}>©</a>
      </div>
    )
  }
</div>
