---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  lang?: string;
}

const { title, description, permalink, lang } = Astro.props;
---

<html lang={lang || "en"} class="h-full">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body class="h-full grid bg-light-primary dark:bg-dark-primary text-light-secondary dark:text-dark-secondary">
    <Header />
    <main class="w-10/12 max-w-prose justify-self-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
body {
  grid-template-rows: auto 1fr auto;
}
</style>