---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import ScrollToTopButton from "../components/features/ScrollToTopButton.vue";

export interface Props {
  title: string;
  description: string;
  lang?: string;
}

const { title, description, lang = "en" } = Astro.props;
---

<html lang={lang} class="h-full">
  <head>
    <script is:inline>
      let preferredTheme;
      try {
        preferredTheme = localStorage.getItem("vueuse-color-scheme");
      } catch (err) {
        console.error("Can not set preferred theme: ", err);
      }
      const hasDarkQuery = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;

      if (
        preferredTheme === "dark" ||
        (preferredTheme !== "light" && hasDarkQuery)
      ) {
        document.querySelector("html").classList.add("dark");
      } else {
        document.querySelector("html").classList.remove("dark");
      }
    </script>
    <Head title={title} description={description} />
  </head>

  <body
    class="h-full grid bg-light-primary text-light-secondary dark:bg-dark-primary dark:text-dark-secondary"
  >
    <Header />
    <main
      class="w-screen px-4 pb-8 sm:px-8 sm:pb-8 max-w-prose justify-self-center"
    >
      <h1>{title}</h1>
      <slot />
    </main>
    <ScrollToTopButton client:idle />
    <style>
      body {
        grid-template-rows: auto 1fr auto;
      }
    </style>
  </body>
</html>
