---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import ScrollToTopButton from "../components/features/ScrollToTopButton.vue";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  lang?: string;
}

const { title, description, permalink, lang } = Astro.props;
---

<html lang={lang || "en"} class="h-full">
  <head>
    <script is:inline>
      let preferredTheme;
      try {
        preferredTheme = localStorage.getItem("vueuse-color-scheme");
      } catch (err) {}
      const hasDarkQuery = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      if (
        preferredTheme === "dark" ||
        (preferredTheme !== "light" && hasDarkQuery)
      ) {
        document.querySelector("html").classList.add("dark");
      } else {
        document.querySelector("html").classList.remove("dark");
      }
    </script>
    <Head {title} {description} {permalink} />
  </head>

  <body
    class="h-full grid bg-light-primary text-light-secondary dark:bg-dark-primary dark:text-dark-secondary"
  >
    <Header />
    <main class="w-screen px-4 max-w-prose justify-self-center">
      <h1>{title}</h1>
      <slot></slot>
    </main>
    <ScrollToTopButton client:load />
    <style>
      body {
        grid-template-rows: auto 1fr auto;
      }
    </style>
  </body>
</html>
